# Yorum satırları ve kod içi İngilizce kısımlar doğru kod yazımında alıştırma olması için eklenmiştir. İlerleyen süreçte yorum satırları da İngilizce olarak eklenecektir.

In [6]:
# 5.1

count_positive = 0
count_negative = 0
total = 0
count = 0

# Burada for yerine while döngüsü kodu kısaltmak için kullanıldı.
while True:
    number = int(input("Enter an integer, the input ends if it is 0: "))
    if number == 0:
        break

    if number > 0:
        count_positive += 1
    elif number < 0:
        count_negative += 1

    total += number
    count += 1

if count == 0:
    print("You didn't enter any number")
else:
    average = total / count
    print(f"The number of positives is {count_positive}")
    print(f"The number of negatives is {count_negative}")
    print(f"The total is {total}")
    print(f"The average is {average:.2f}")

The number of positives is 5
The number of negatives is 1
The total is 12
The average is 2.00

In [26]:
# 5.2

# Python'un güzel yanlarından biri de geniş kütüphane seçekleri ve kolay entegre edilebilmesi.
import random
import time

correctCount = 0

# Burada on soru çok kalabalık bir görüntü oluşturduğu için beşe indirildi.
NUMBER_OF_QUESTIONS = 5
# NUMBER_OF_QUESTIONS = 10

startTime = time.time()

for questionNumber in range(NUMBER_OF_QUESTIONS):
    number1 = random.randint(1, 15)
    number2 = random.randint(1, 15)
    
    answer = eval(input("What is " + str(number1) + " + " + str(number2) + "? "))
    
    if number1 + number2 == answer:
        print("You are correct!")
        correctCount += 1
    else:
        print("Your answer is wrong.\n", number1, "+", number2, "is", number1 + number2)

endTime = time.time()
testTime = int(endTime - startTime)
print("Correct count is", correctCount, "out of", NUMBER_OF_QUESTIONS, "\nTest time is", testTime, "seconds")

You are correct!
You are correct!
Your answer is wrong.
 15 + 15 is 30
You are correct!
You are correct!
Correct count is 4 out of 5
Test time is 11 seconds

In [8]:
# 5.3

print(f'{"Kilograms":<10} {"Pounds"}')

for i in range(1, 200, 2):
    pounds = i * 2.2
    print(f'{i:<10} {pounds:.1f}')

Kilograms  Pounds
1          2.2
3          6.6
5          11.0
7          15.4
9          19.8
11         24.2
13         28.6
15         33.0
17         37.4
19         41.8
21         46.2
23         50.6
25         55.0
27         59.4
29         63.8
31         68.2
33         72.6
35         77.0
37         81.4
39         85.8
41         90.2
43         94.6
45         99.0
47         103.4
49         107.8
51         112.2
53         116.6
55         121.0
57         125.4
59         129.8
61         134.2
63         138.6
65         143.0
67         147.4
69         151.8
71         156.2
73         160.6
75         165.0
77         169.4
79         173.8
81         178.2
83         182.6
85         187.0
87         191.4
89         195.8
91         200.2
93         204.6
95         209.0
97         213.4
99         217.8
101        222.2
103        226.6
105        231.0
107        235.4
109        239.8
111        244.2
113        248.6
115        253.0
117        257.4
119        261.8
121        266.2
123        270.6
125        275.0
127        279.4
129        283.8
131        288.2
133        292.6
135        297.0
137        301.4
139        305.8
141        310.2
143        314.6
145        319.0
147        323.4
149        327.8
151        332.2
153        336.6
155        341.0
157        345.4
159        349.8
161        354.2
163        358.6
165        363.0
167        367.4
169        371.8
171        376.2
173        380.6
175        385.0
177        389.4
179        393.8
181        398.2
183        402.6
185        407.0
187        411.4
189        415.8
191        420.2
193        424.6
195        429.0
197        433.4
199        437.8

In [9]:
# 5.4

print(f'{"Miles":<10} {"Kilometers"}')

for i in range(1, 11):
    kilometers = i * 1.609
    print(f'{i:<10} {kilometers:.3f}')

Miles      Kilometers
1          1.609
2          3.218
3          4.827
4          6.436
5          8.045
6          9.654
7          11.263
8          12.872
9          14.481
10         16.090

In [10]:
# 5.5

print(f'{"Kilograms":<10} {"Pounds":<10} | {"Pounds":<10} {"Kilograms"}')

for i in range(1, 200, 2):
    pounds = i * 2.2
    kilograms = (i * 10 + 15) * 0.45
    print(f'{i:<10} {pounds:<10.1f} | {(i*10 + 15):<10} {kilograms:.2f}')

Kilograms  Pounds     | Pounds     Kilograms
1          2.2        | 25         11.25
3          6.6        | 45         20.25
5          11.0       | 65         29.25
7          15.4       | 85         38.25
9          19.8       | 105        47.25
11         24.2       | 125        56.25
13         28.6       | 145        65.25
15         33.0       | 165        74.25
17         37.4       | 185        83.25
19         41.8       | 205        92.25
21         46.2       | 225        101.25
23         50.6       | 245        110.25
25         55.0       | 265        119.25
27         59.4       | 285        128.25
29         63.8       | 305        137.25
31         68.2       | 325        146.25
33         72.6       | 345        155.25
35         77.0       | 365        164.25
37         81.4       | 385        173.25
39         85.8       | 405        182.25
41         90.2       | 425        191.25
43         94.6       | 445        200.25
45         99.0       | 465        209.25
47         103.4      | 485        218.25
49         107.8      | 505        227.25
51         112.2      | 525        236.25
53         116.6      | 545        245.25
55         121.0      | 565        254.25
57         125.4      | 585        263.25
59         129.8      | 605        272.25
61         134.2      | 625        281.25
63         138.6      | 645        290.25
65         143.0      | 665        299.25
67         147.4      | 685        308.25
69         151.8      | 705        317.25
71         156.2      | 725        326.25
73         160.6      | 745        335.25
75         165.0      | 765        344.25
77         169.4      | 785        353.25
79         173.8      | 805        362.25
81         178.2      | 825        371.25
83         182.6      | 845        380.25
85         187.0      | 865        389.25
87         191.4      | 885        398.25
89         195.8      | 905        407.25
91         200.2      | 925        416.25
93         204.6      | 945        425.25
95         209.0      | 965        434.25
97         213.4      | 985        443.25
99         217.8      | 1005       452.25
101        222.2      | 1025       461.25
103        226.6      | 1045       470.25
105        231.0      | 1065       479.25
107        235.4      | 1085       488.25
109        239.8      | 1105       497.25
111        244.2      | 1125       506.25
113        248.6      | 1145       515.25
115        253.0      | 1165       524.25
117        257.4      | 1185       533.25
119        261.8      | 1205       542.25
121        266.2      | 1225       551.25
123        270.6      | 1245       560.25
125        275.0      | 1265       569.25
127        279.4      | 1285       578.25
129        283.8      | 1305       587.25
131        288.2      | 1325       596.25
133        292.6      | 1345       605.25
135        297.0      | 1365       614.25
137        301.4      | 1385       623.25
139        305.8      | 1405       632.25
141        310.2      | 1425       641.25
143        314.6      | 1445       650.25
145        319.0      | 1465       659.25
147        323.4      | 1485       668.25
149        327.8      | 1505       677.25
151        332.2      | 1525       686.25
153        336.6      | 1545       695.25
155        341.0      | 1565       704.25
157        345.4      | 1585       713.25
159        349.8      | 1605       722.25
161        354.2      | 1625       731.25
163        358.6      | 1645       740.25
165        363.0      | 1665       749.25
167        367.4      | 1685       758.25
169        371.8      | 1705       767.25
171        376.2      | 1725       776.25
173        380.6      | 1745       785.25
175        385.0      | 1765       794.25
177        389.4      | 1785       803.25
179        393.8      | 1805       812.25
181        398.2      | 1825       821.25
183        402.6      | 1845       830.25
185        407.0      | 1865       839.25
187        411.4      | 1885       848.25
189        415.8      | 1905       857.25
191        420.2      | 1925       866.25
193        424.6      | 1945       875.25
195        429.0      | 1965       884.25
197        433.4      | 1985       893.25
199        437.8      | 2005       902.25

In [11]:
# 5.6

print(f'{"Miles":<10} {"Kilometers":<10} | {"Kilometers":<10} {"Miles"}')

for i in range(1, 11):
    kilometers = i * 1.609
    miles = (i * 5 + 15) * 0.621
    print(f'{i:<10} {kilometers:<10.3f} | {(i*5 + 15):<10} {miles:.3f}')

Miles      Kilometers | Kilometers Miles
1          1.609      | 20         12.420
2          3.218      | 25         15.525
3          4.827      | 30         18.630
4          6.436      | 35         21.735
5          8.045      | 40         24.840
6          9.654      | 45         27.945
7          11.263     | 50         31.050
8          12.872     | 55         34.155
9          14.481     | 60         37.260
10         16.090     | 65         40.365

In [12]:
# 5.7

import math

print(f'{"Degree":<10} {"Sin":<10} {"Cos"}')

for i in range(0, 361, 10):
    radians = math.radians(i)
    sin_value = math.sin(radians)
    cos_value = math.cos(radians)
    print(f'{i:<10} {sin_value:<10.4f} {cos_value:.4f}')

Degree     Sin        Cos
0          0.0000     1.0000
10         0.1736     0.9848
20         0.3420     0.9397
30         0.5000     0.8660
40         0.6428     0.7660
50         0.7660     0.6428
60         0.8660     0.5000
70         0.9397     0.3420
80         0.9848     0.1736
90         1.0000     0.0000
100        0.9848     -0.1736
110        0.9397     -0.3420
120        0.8660     -0.5000
130        0.7660     -0.6428
140        0.6428     -0.7660
150        0.5000     -0.8660
160        0.3420     -0.9397
170        0.1736     -0.9848
180        0.0000     -1.0000
190        -0.1736    -0.9848
200        -0.3420    -0.9397
210        -0.5000    -0.8660
220        -0.6428    -0.7660
230        -0.7660    -0.6428
240        -0.8660    -0.5000
250        -0.9397    -0.3420
260        -0.9848    -0.1736
270        -1.0000    -0.0000
280        -0.9848    0.1736
290        -0.9397    0.3420
300        -0.8660    0.5000
310        -0.7660    0.6428
320        -0.6428    0.7660
330        -0.5000    0.8660
340        -0.3420    0.9397
350        -0.1736    0.9848
360        -0.0000    1.0000

In [13]:
# 5.8

import math

print(f'{"Number":<10} {"Square Root"}')

for i in range(0, 21, 2):
    sqrt_value = math.sqrt(i)
    print(f'{i:<10} {sqrt_value:.4f}')

Number     Square Root
0          0.0000
2          1.4142
4          2.0000
6          2.4495
8          2.8284
10         3.1623
12         3.4641
14         3.7417
16         4.0000
18         4.2426
20         4.4721

In [14]:
# 5.9

tuition = 10000
year = 0

while year < 10:
    tuition *= 1.05
    year += 1

print(f"Tuition in 10 years: ${tuition:.2f}")

total_cost = 0
while year < 14:
    tuition *= 1.05
    total_cost += tuition
    year += 1

print(f"Total costs for 4 years of education that started 10 years later: ${total_cost:.2f}")

Tuition in 10 years: $16288.95
Total cost for 4 years' worth of tuition starting 10 years from now: $73717.76

In [19]:
# 5.10

# "score.txt" file elimizde olmadığı için buradad farklı bir yola gidilip direkt kullanıcıdan bilgi alınmaya çalışıldı.

number_of_students = int(input("Enter the number of students: "))
highest_score = 0

# Buradaki döngü yapısıyla verilen sayı kadar dönüş yapılır.
for _ in range(number_of_students):
    score = int(input("Enter a student's score: "))

    if score > highest_score:
        highest_score = score

print(f"The highest score is {highest_score}")

The highest score is 64

In [20]:
# 5.11

number_of_students = int(input("Enter the number of students: "))
highest_score = 0
second_highest_score = 0

for _ in range(number_of_students):
    score = int(input("Enter a student's score: "))

    if score > highest_score:
        second_highest_score = highest_score
        highest_score = score
    elif score > second_highest_score:
        second_highest_score = score

print(f"The highest score is {highest_score}")
print(f"The second highest score is {second_highest_score}")

The highest score is 99
The second highest score is 54

In [21]:
# 5.12

count = 0
for number in range(100, 1001):
    if number % 5 == 0 and number % 6 == 0:
        print(number, end=' ')
        count += 1
        if count % 10 == 0:
            print()

120 150 180 210 240 270 300 330 360 390
420 450 480 510 540 570 600 630 660 690
720 750 780 810 840 870 900 930 960 990

In [22]:
# 5.13
count = 0
for number in range(100, 201):
    if (number % 5 == 0 or number % 6 == 0) and not (number % 5 == 0 and number % 6 == 0):
        print(number, end=' ')
        count += 1
        if count % 10 == 0:
            print()

100 102 105 108 110 114 115 125 126 130
132 135 138 140 144 145 155 156 160 162
165 168 170 174 175 185 186 190 192 195
198 200

In [23]:
# 5.14

n = 0
while n**2 <= 12000:
    n += 1
print(f"The smallest integer n such that n^2 is greater than 12,000 is {n}")

The smallest integer n such that n^2 is greater than 12,000 is 110

In [24]:
# 5.15

n = 0
while (n+1)**3 < 12000:
    n += 1
print(f"The largest integer n such that n^3 is less than 12,000 is {n}")

The largest integer n such that n^3 is less than 12,000 is 22