In [ ]:
NUMBER_OF_ELEMENTS = 5
numbers = [] # list operator
sum = 0
for i in range(NUMBER_OF_ELEMENTS):
  value = eval(input("Enter a new number: "))
  numbers.append(value)
  sum = sum + value
average = sum / NUMBER_OF_ELEMENTS
count = 0
for i in range(NUMBER_OF_ELEMENTS):
  if numbers[i] > average: #index = 0, 1, 2, 3, 4
    count += 1
print("Average is", average)
print("Number of elements above the average is", count)
print("Lenght of list", len(numbers))
print("Min elements of list", min(numbers))
print("Min elements of list", max(numbers))

In [ ]:
list3 = list(["red", "green", "blue"])
print("Min elements of list", min(list3))
print("Min elements of list", max(list3))

Min elements of list blue
Min elements of list red

In [ ]:
list1 = [2, 3, 4, 1, 32, 4]
list1.append(19)
print(list1)
print(list1.count(4))
list2 = [99, 54]
list1.extend(list2)
print(list1)
list1.index(4)
list1.insert(1, 25)
print(list1)

[2, 3, 4, 1, 32, 4, 19]
2
[2, 3, 4, 1, 32, 4, 19, 99, 54]
[2, 25, 3, 4, 1, 32, 4, 19, 99, 54]

In [ ]:
list1 = [2, 25, 3, 4, 1, 32, 4, 19, 99, 54]
list1.pop(2)
list1.pop()
list1.remove(32)
list1.reverse()
print(list1)
list1.sort()
print(list1)

[99, 19, 4, 1, 4, 25, 2]
[1, 2, 4, 4, 19, 25, 99]

In [ ]:
items = "Jane,John,Peter,Susan".split(",")
print(items)

['Jane', 'John', 'Peter', 'Susan']